*{
    margin: 0;
    padding: 0;
    }
     
    
    .cabeçalho {
        height: 50px;
        background-color:rgb(0, 0, 0) ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
    
    }
    .cabeçalho a {
        color: rgb(89, 243, 0);
        text-decoration: none;
    }
    
    body{
        background-color: rgb(0, 0, 0);
    }

    .His {
        color: white;
    }
    .con{
        color: white;
    }
    .jogos{
        color: white;
    }